<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Selecciona tu producto</a></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block to-animate" style="background-image: url(images/android_logo.png); background-size:contain; background-position:center">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						{{!-- <img src="images/android_logo.png" alt="Image" class="img-responsive"> --}}
						<h2>Android</h2>
						<p>Aprende a crear aplicaciones para android desde cero y de forma sencilla con Android Studio y las herramientas más profesionales del momento.</p>
						<p><a href="#popup-text-android" class="popup btn btn-primary">Detalles</a></p>
						<div id="popup-text-android" class="white-popup mfp-hide">
							<h1>Android</h1>
							<div class="fh5co-project-item to-animate">
								<img src="images/android_logo.png" alt="Image" class="img-responsive">
								<div class="fh5co-text">

                  <div class="row">
                    <div class="col-md-4"><h2>$15,000</h2></div>
                    <div class="col-md-8"><h3><strike>$20,000</strike></h3></div>
                  </div>

								  <span><b>Programación de Android desde Cero +35 horas Curso COMPLETO.</b></span><br><br>

                  <ul>
                    <li>Garantía de reembolso de 30 días</li>
                    <li>Certificado de finalización</li>
                  </ul>

                  <span>Inicio: Sabado 10 de Marzo</span><br>
                  <span>Horario: 9:00 a.m. - 2:00 p.m.</span>

                </div>

                <form action="/pago" method="POST">
                  <input id="precio" name="precio" type="hidden" value="$15,000.00"/>
                  <input id="curso" name="curso" type="hidden" value="Android"/>
                  <h2><input id="pagar-android" class="btn btn-primary" type="submit" value="Pagar" /></h2>
                </form>

							</div>
						</div>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(images/swift_logo.png); background-size:contain; background-position:center; background-repeat:no-repeat">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						{{!-- <img src="images/swift_logo.png" alt="Image" class="img-responsive"> --}}
						<h2>Swift</h2>
						<p>Aprende los fundamentos básicos hasta dominar los aspectos más avanzados del lenguaje Swift, el lenguaje de Apple para desarrollar en todas sus plataformas.</p>
						<p><a href="#popup-text-swift" class="popup btn btn-primary">Detalles</a></p>
            <div id="popup-text-swift" class="white-popup mfp-hide">
							<h1>Swift</h1>
							<div class="fh5co-project-item to-animate">
								<img src="images/swift_logo.png" alt="Image" class="img-responsive">
								<div class="fh5co-text">

                  <div class="row">
                    <div class="col-md-4"><h2>$18,000</h2></div>
                    <div class="col-md-8"><h3><strike>$25,000</strike></h3></div>
                  </div>

								  <span><b>Curso completo de Swift 4, el lenguaje para apps de Apple</b></span><br><br>

                  <ul>
                    <li>Garantía de reembolso de 30 días</li>
                    <li>Certificado de finalización</li>
                  </ul>

                  <span>Inicio: Sabado 10 de Marzo</span><br>
                  <span>Horario: 2:00 p.m. - 7:00 p.m.</span>

                </div>
                
                <form action="/pago" method="POST">
                  <input id="precio" name="precio" type="hidden" value="$18,000.00"/>
                  <input id="curso" name="curso" type="hidden" value="Swift"/>
                  <h2><input id="pagar-android" class="btn btn-primary" type="submit" value="Pagar" /></h2>
                </form>

							</div>
						</div>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(images/java_logo.png); background-size:contain; background-position:center; background-repeat:no-repeat">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						{{!-- <img src="images/java_logo.png" alt="Image" class="img-responsive"> --}}
						<h2>Java</h2>
						<p>Este curso es una especialización en la tecnología Java. Desde los Fundamentos de Java hasta experto en tiempo record y poder crear aplicaciones.</p>
						<p><a href="#popup-text-java" class="popup btn btn-primary">Detalles</a></p>
            <div id="popup-text-java" class="white-popup mfp-hide">
							<h1>Java</h1>
							<div class="fh5co-project-item to-animate">
								<img src="images/java_logo.png" alt="Image" class="img-responsive">
								<div class="fh5co-text">

                  <div class="row">
                    <div class="col-md-4"><h2>$12,000</h2></div>
                    <div class="col-md-8"><h3><strike>$18,000</strike></h3></div>
                  </div>

								  <span><b>Universidad Java: Experto en Java de Cero a Master +64 horas</b></span><br><br>

                  <ul>
                    <li>Garantía de reembolso de 30 días</li>
                    <li>Certificado de finalización</li>
                  </ul>

                  <span>Inicio: Sabado 31 de Marzo</span><br>
                  <span>Horario: 2:00 p.m. - 7:00 p.m.</span>

                </div>
                
                <form action="/pago" method="POST">
                  <input id="precio" name="precio" type="hidden" value="$12,000.00"/>
                  <input id="curso" name="curso" type="hidden" value="Java"/>
                  <h2><input id="pagar-android" class="btn btn-primary" type="submit" value="Pagar" /></h2>
                </form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>