<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}

    <!-- includes the Braintree JS client SDK -->
    <script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>

    <link rel="stylesheet" href='/stylesheets/style.css'>

    <!-- includes jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/stylesheets/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/stylesheets/magnific-popup.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">

	<!-- 
	Default Theme Style 
	You can change the style.css (default color purple) to one of these styles
	
	1. pink.css
	2. blue.css
	3. turquoise.css
	4. orange.css
	5. lightblue.css
	6. brown.css
	7. green.css

	-->



	<!-- Modernizr JS -->
	<script src="/javascripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/javascripts/respond.min.js"></script>
	<![endif]-->

	</head>

  <body>

    <header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		         <a class="navbar-brand" href="/" >{{title}}</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="/" data-nav-section="home"><span>Home</span></a></li>
		            <!-- <li><a href="#" data-nav-section="work"><span>Work</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
		            <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li> -->
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

    {{{body}}}

  <footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2" ></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>	</p>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://facebook.com/@SergioR31" target="new"><i class="icon-facebook"></i></a></li>
						<li><a href="https://instagram.com/SergioR31" target="new"><i class="icon-instagram"></i></a></li>
            <li><a href="https://twitter.com/SergioR31" target="new"><i class="icon-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

  	<!-- jQuery -->
	<script src="/javascripts/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/javascripts/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/javascripts/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="/javascripts/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/javascripts/jquery.magnific-popup.min.js"></script>
	<script src="/javascripts/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="/javascripts/google_map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="/javascripts/main.js"></script>

  </body>
</html>
